
.memberCard {
  width: 80%;
  border: 10px solid rgb(6, 214, 221);
  padding: 120x;
  margin: 30px;
  float: left;
  text-align: center;
  font-family: "Georgia", Times, serif;
  
}


.toolCard {
width: 80%;
border: 10px solid rgb(6, 214, 221);
padding: 120x;
margin: 30px;
float: left;
text-align: center;
font-family: "Georgia", Times, serif;
cursor: pointer;
}

.gitCard {
  width: 100%;
  border: 10px solid rgb(1, 20, 1);
  padding: 120x;
  margin: 30px;
  float: left;
  text-align: center;
}

.bottomCard {
display: flex;
width: 100%;
border: 10px solid rgb(6, 214, 221);
padding: 10x;
margin: 10px;

/* justify-content: center; */
/* align-items: center; */
/* margin-left: auto;
margin-right: auto; */
}

.aboutCard {
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
width: 100%;
/* margin: 20x; */
}

.hyperButton {
width: 200;
height: 200;
padding: 20x;
border: 10px solid rgb(6, 214, 221);
}

.statTable {
width: 100%;
padding-bottom: 10x;
}

.Title {
text-align: center;
font-family: "Lucida Console", "Courier New", monospace;
}
