.charityInstance {
    float: left;
    margin: 10px;
    width: 100%;
    height: 100%;
}

.attributeCard {
    height: 650px;
    width: 45%;
    overflow: auto;
}

.mediaTable {
    width: 650px;
    height: 650px;
    float: left;
    padding: 0px; 
    margin-top: 20px;
}

.linkButton {
    height:100px;
    width:200px;
}

.imgEmbed {
    width: 320px;
    height: 320px;
}

.mainCenter {
    float: left;
    width: 100%;
}