.eventInstance {
    float: left;
    color: 'blue';
    margin: 10px;

}

.attributeCard {
    width: 550px;
    height: 650px;
    overflow: auto;
}

.mediaTable {
    width: 650px;
    height: 650px;
    float: left;
    padding: 0px; 
    margin-top: 20px;
}

.linkButton {
    height:100px;
    width:200px;
}

.imgEmbed {
    width: 320px;
    height: 320px;
}

.mainCenter {
    float: left;
    width: 100%;
}