.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.outer {
    margin-left: 115px;
    margin-right: 115px;
    margin-top: 50px;
}

.TableRow {
    cursor: pointer;
}

.TableRow:hover {
    font-weight: bold;
}

.filterBox {
    width: 200px;
    height: 100px;
    float: left;
    margin-right: 15px;
}