.wrapper {
	display: block;
	width: 90%;
	margin: auto;
}

.header {
	padding: 32px 0;
}

.chart {
	display: flex;
	align-items: center;
	justify-content: center;
}

.filters {
	display: flex;
	justify-content: space-around;
}

@media (min-width: 768px) {
	.wrapper {
		width: 80%;
	}
}

.centerText {
	text-align: center; /* This puts the text into the center of the 
	screen. */
	padding-top: 45px;
}
